<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <form action="/petfood/list/1" method="get">
      <div class="form-row align-items-center mb-4">
        <div class="col-11">
          <input autocomplete="off" id="petfood_name_search" name="query" class="form-control form-control-lg" type="text" placeholder="사료명 입력" value="{{query}}">
        </div>
        <div class="col-1">
          <button type="submit" class="btn btn-lg btn-primary">검색</button>
        </div>
      </div>
      <div style="text-align:center;">
        <div style="display: inline-block;" class="">
          <div class="form-row align-items-center">
              <div class="col-auto">
                <select name="petfood_company_id" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="petfood_company_id">
                  <option value="0">제조사</option>
                  {{#each petfood_company}}
                  <option value="{{petfood_company_id}}" {{#if current_petfood_company}}selected{{/if}}>{{petfood_company_name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-auto">
                <select name="main_ingredient_id" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="main_ingredient_id">
                  <option value="0">주원료</option>
                  {{#each main_ingredient}}
                  <option value="{{main_ingredient_id}}" {{#if current_main_ingredient}}selected{{/if}}>{{main_ingredient_name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-auto">
                <select name="target_age_id" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="target_age_id">
                  <option value="0">연령대</option>
                  {{#each target_age}}
                  <option value="{{target_age_id}}" {{#if current_target_age}}selected{{/if}}>{{target_age}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-auto">
                <select name="protein_content_id" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="protein_content_id">
                  <option value="0">단백질함량</option>
                  {{#each protein_content}}
                  <option value="{{protein_content_id}}" {{#if current_protein_content}}selected{{/if}}>{{protein_content_name}}</option>
                  {{/each}}
                </select>
              </div>
            <div class="col-1">
              <div id="btn_initialize" class="btn btn-secondary">초기화</div>
            </div>
          </div>
        </div>
      </div>
  </form>
  </div>
</div>

{{#if is_user_admin}}
<div class="container mb-3">
  <div class="row">
    <div class="col-12">
      <a href="/petfood/upload">
        <button type="submit" class="btn btn-secondary" style="float:right;">새 정보 입력</button>
      </a>
    </div>
  </div>
</div>
{{/if}}
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <div class="row">
          <div class="col-2">최신순</div>
          <div class="col-6"><span class="my-0 font-weight-normal">사료명</span></div>
          <div class="col-2"><span class="my-0 font-weight-normal">영양점수</span></div>
          <div class="col-2"><span class="my-0 font-weight-normal">소비자평점</span></div>
        </div>
      </div>

      <div class="card-body">
        {{#each result}}
        <a href="/petfood/info/{{petfood_id}}?current_page={{../current_page}}&{{../query_string}}" class="black-color-link">
        <div class="row">
          <div class="col-md-2 col-sm-12"><img style="width:70px;" src="/petfood_images/{{petfood_photo_addr}}"/></div>
          <div class="col-md-6 col-sm-12"><div class="petfood-main-list-content"><h5 class="my-0 font-weight-normal">{{petfood_name}}</h5><small><i class="fas fa-check-circle"></i>&nbsp;주원료 : {{main_ingredient}} &nbsp;&nbsp; <i class="fas fa-utensils"></i>&nbsp;대상 연령 : {{target_age}}</small></div></div>
          <div class="col-md-2 col-sm-12"><div class="petfood-main-list-content"><h4 class="my-0 font-weight-normal">{{nutrition_score}}</h4></div></div>
          <div class="col-md-2 col-sm-12"><div class="petfood-main-list-content"><h4 class="my-0 font-weight-normal">{{#if customer_score}}{{customer_score}}{{else}}<small>평가 없음</small>{{/if}}</h4></div></div>
        </div>
        </a>
         {{#unless @last}}<hr>{{/unless}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav style="float:right;">
          <ul class="pagination">
            <li class="page-item {{#if first_page}} disabled{{/if}}">
              <a class="page-link" href="/petfood/list/{{prev_page}}?{{query_string}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {{#each paging}}
            <li class="page-item {{#if paging_currentpage}} disabled {{/if}}">
                <a class="page-link" href="/petfood/list/{{paging_page}}?{{../query_string}}">
                    {{paging_page}}
                </a>
            </li>
            {{/each}}
            <li class="page-item {{#if last_page}}disabled{{/if}}">
              <a class="page-link" href="/petfood/list/{{next_page}}?{{query_string}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script>

$( document ).ready(function() {
    $("#btn_initialize").on('click', function() {
        $("#petfood_company_id").val("0").prop("selected", true);
        $("#main_ingredient_id").val("0").prop("selected", true);
        $("#target_age_id").val("0").prop("selected", true);
        $("#protein_content_id").val("0").prop("selected", true);
    });

    $.get("/petfood/petfood_name_list", function(data){
        $("#petfood_name_search").autocomplete({
          source: data
        });
    });
});
</script>
