<div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <a href="/petfood/list/{{current_page}}?{{query_string}}">
          <button type="button" class="btn btn-lg btn-secondary" style="float:left;">&lt; 사료 목록</button>
        </a>
        <a href="/review/list/{{petfood_id}}">
          <button type="button" class="btn btn-lg btn-secondary ml-3" style="float:right;">리뷰 목록 &gt;</button>
        </a>
        {{#if is_user_admin}}
        <button id="btn_delete_item" type="button" class="btn btn-link" style="float:right;">삭제</button>
        <a href="/petfood/modify/{{petfood_id}}">
          <button type="button" class="btn btn-info mr-3" style="float:right;">수정</button>
        </a>
        {{/if}}
      </div>
    </div>
</div>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-4">
        <img style="width:80%;" src="/petfood_images/{{petfood_photo_addr}}">
      </div>
      <div class="col-8 mt-4 text-center">
        <h3 class="mb-3">{{petfood_name}}</h3>
        <h5 class="mb-3">영양 점수 : {{nutrition_score}} / 소비자평점 : {{customer_score}}</h5>
        <h5 class="mb-3">제조사 : {{petfood_company_name}}</h5>
        <h5 class="mb-3">대상연령 : {{target_age}}</h5>
        </div>
    </div>
  </div>
</div>
<div class="container mb-5">
    <div class="row">
        <div class="col-6">
            <button type="button" style ="width:100%;" class="btn btn-lg btn-dark">이 사료에 대한 별점 주기</button>
        </div>
        <div class="col-6">
            <a href="/review/write/{{petfood_id}}">
                <button type="button" style ="width:100%;" class="btn btn-lg btn-dark">이 사료에 대한 리뷰 쓰기</button>
            </a>
        </div>
    </div>
</div>

<div class="container">
  <div class="card-deck mb-4">
    <div class="card mb-4 box-shadow">
      <div class="card-header  text-center">
        <h5>영양성분</h5>
      </div>
      <div class="card-body" style="padding:50px;">
        <div class="row text-center mb-4">
          <div class="col-12">
            각 성분별 적정량이 얼만지 표시하기
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width:25%;"><h5>단백질</h5></th>
                  <th scope="col" style="width:25%;"><h5>지방</h5></th>
                  <th scope="col" style="width:25%;"><h5>칼슘</h5></th>
                  <th scope="col" style="width:25%;"><h5>인</h5></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="padding:10px;">
                    <div style="display:inline;width:100px;height:100px;margin:10px;">
                        <input data-max="50" type="text" class="knob" value="{{protein}}" data-width="150" data-height="150"
                        data-fgcolor="{{{eval_protein_color}}}" data-readonly="true" readonly="readonly"
                        style="width: 49px; height: 30px; position: absolute; vertical-align: middle;  margin-top: 30px; margin-left: -69px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal;  font-size: 18px; line-height: normal; font-family: Arial; text-align: center;  color: rgb(60, 141, 188); padding: 0px; -webkit-appearance: none;"/>
                    </div>
                  </td>
                  <td style="padding:10px;">
                    <div style="display:inline;width:100px;height:100px;">
                        <input data-max="50" type="text" class="knob" value="{{fat}}" data-width="150" data-height="150"
                        data-fgcolor="{{{eval_fat_color}}}" data-readonly="true" readonly="readonly"
                        style="width: 49px; height: 30px; position: absolute; vertical-align: middle;  margin-top: 30px; margin-left: -69px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal;  font-size: 18px; line-height: normal; font-family: Arial; text-align: center;  color: rgb(245, 105, 84); padding: 0px; -webkit-appearance: none;"/>
                    </div>
                  <td style="padding:10px;">
                    <div style="display:inline;width:100px;height:100px;">
                        <input data-max="2.5" type="text" class="knob" value="{{calcium}}" data-width="150" data-height="150"
                        data-fgcolor="{{{eval_calcium_color}}}" data-readonly="true" readonly="readonly"
                        style="width: 49px; height: 30px; position: absolute; vertical-align: middle;  margin-top: 30px; margin-left: -69px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal;  font-size: 18px; line-height: normal; font-family: Arial; text-align: center;  color: rgb(60, 141, 188); padding: 0px; -webkit-appearance: none;"/>
                    </div>
                  </td>
                  <td style="padding:10px;">
                    <div style="display:inline;width:100px;height:100px;">
                        <input data-max="1.6" type="text" class="knob" value="{{phosphorus}}" data-width="150" data-height="150"
                        data-fgcolor="{{{eval_phosphorus_color}}}" data-readonly="true" readonly="readonly"
                        style="width: 49px; height: 30px; position: absolute; vertical-align: middle;  margin-top: 30px; margin-left: -69px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal;  font-size: 18px; line-height: normal; font-family: Arial; text-align: center;  color: rgb(60, 141, 188); padding: 0px; -webkit-appearance: none;"/>
                    </div>
                  </td>
                </tr>
                <tr>
                  {{{eval_protein_html}}}
                  {{{eval_fat_html}}}
                  {{{eval_calcium_html}}}
                  {{{eval_phosphorus_html}}}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-center">
            <span style="color: #919191; font-size: 1.2em; font-weight: bold;  text-decoration: none;   border-bottom: 1px solid #919191;   padding-bottom: 5px;">왜 영양성분을 봐야하나요?<br></span>
            <br style="line-height: 10%;">
            </div>
            <span style="color: #919191; font-size: 1em;">
            PetBuffet은 사료규제기구 AAFCO의 성분별 권장량을 기준으로 영양성분을 분석한 결과를 안내드립니다. 이 기준은 반려동물의 생존에 필요한 최저 권장량으로, 기준에 미달되는 경우 충분한 영양 공급이 어려울 수 있습니다. 그렇다면, 이 영양성분들은 왜 생존에 필요한가요?
            <br><br>
            <span style="color: #8091ad; font-weight: bold;">단백질</span><br>
            단백질은 반려견이 체내에서 생산할 수 없지만 생존에는 꼭 필요한 10가지 필수 아미노산의 원천입니다. 또한 일상의 활동을 위한 에너지원으로도 사용됩니다.
            <br><br>
            <span style="color: #8091ad; font-weight: bold;">지방</span><br>
            지방은 열량이 가장 큰 에너지원이며, 반려견의 체내에서 합성되지 않는 필수 지방산을 보충합니다. 필수 지방산은 반려견의 피부와 모질, 시력, 학습능력, 생리적 기능을 건강하게 유지하는 데 필요합니다.
            <br><br>
            <span style="color: #8091ad; font-weight: bold;">칼슘, 인</span><br>
            칼슘 인 모두 튼튼한 뼈와 골격 형성에 중요한 역할을 하며, 부족한 경우 갑상선 기능 이상, 뼈 이상 등의 증상이 생길 수 있습니다. 칼슘과 인은 효과적으로 흡수되기 위해 1:1 ~ 2:1의 비율을 유지해야 합니다.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h5>원재료 목록</h5>
      </div>
      <div class="card-body" style="padding:50px;">
        <div class="row">
          <div class="col-12">
            {{ingredients}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="card mb-4 box-shadow">
        <div class="card-header text-center">
            <h5>최신 리뷰</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {{#each recent_reviews}}
                    <a href="/review/content/{{petfood_review_id}}">
                    <h5>제목 : {{petfood_review_title}}</h5>
                    {{petfood_review_content}}
                    </a>
                    {{#unless @last}}<hr>{{/unless}}
                    {{/each}}
                    <hr>
                    <div class="text-center pt-2">
                        <h5><span style="font-weight: bold;"><a href="/review/list/{{petfood_id}}">전체 리뷰 목록</a></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-6">
            <button type="button" style ="width:100%;" class="btn btn-lg btn-dark">이 사료에 대한 별점 주기</button>
        </div>
        <div class="col-6">
            <a href="/review/write/{{petfood_id}}">
                <button type="button" style ="width:100%;" class="btn btn-lg btn-dark">이 사료에 대한 리뷰 쓰기</button>
            </a>
        </div>
    </div>
</div>

<script src="/js/jquery-knob/js/jquery.knob.js"></script>
<script>
$(document).ready(function() {
    $(".knob").knob();
    $("#btn_delete_item").on('click',function(){
        if (confirm('정말로 이 사료정보를 삭제하시겠습니까?')) {
            $.ajax({
                url: "/petfood/delete",
                type: "POST",
                data: {"petfood_id" : {{petfood_id}} },
                success: function(data) {
                    alert("삭제가 완료되었습니다.");
                    location.href="/petfood/list/{{current_page}}";
                },
                error : function(error) {
                    alert("Error!");
                }
            });
        }
    })
});
</script>
