<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="row mb-3">
          <div class="col-12">
            <a href="/review/list/{{petfood_info.petfood_id}}">
              <button type="button" class="btn btn-lg btn-secondary">&lt; 리뷰 목록</button>
            </a>
          </div>
        </div>
      {{> review_petfood_item }}

      <form id="review_form" method="post" {{#if review_item}}action="/review/modify/{{review_item.petfood_review_id}}"{{else}}action="/review/write/{{petfood_info.petfood_id}}"{{/if}}>
        <input type="hidden" name="petfood_id" value="{{petfood_info.petfood_id}}"/>
        <input type="hidden" name="petfood_review_id" value="{{review_item.petfood_review_id}}"/>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="background-color:rgb(236,240,245);">
              <span>글쓴이 : {{session.username}}</span>
              <span style="float:right;">{{review_item.creation_date}}</span>
            </li>
            <li class="list-group-item pt-3 pm-3">
              <div class="row">
                <div class="col-1 text-center">
                  <h5 style="margin-top:5px;">제목</h5>
                </div>
                <div class="col-9">
                  <input id="petfood_review_title" class="form-control" name="petfood_review_title" type="text" value="{{review_item.petfood_review_title}}">
                </div>
                <div class="col-2">
                  <select id="petfood_rcmd_value" name="petfood_rcmd_value" class="custom-select mb-2 mr-sm-2 mb-sm-0"
                            {{#if already_rcmded}}disabled="true"{{/if}}>
                    {{#if already_rcmded}}<option value="{{petfood_rcmd_value}}" selected>{{petfood_rcmd_value}}점</option>{{/if}}
                    <option>평점주기</option>
                    <option value="1">1점</option>
                    <option value="2">2점</option>
                    <option value="3">3점</option>
                    <option value="4">4점</option>
                    <option value="5">5점</option>
                  </select>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <textarea class="form-control" name="petfood_review_content" id="summernote">{{{review_item.petfood_review_content}}}</textarea>
            </li>
          </ul>
          <div class="card-body">
            <input id="btn-form-submit" style="float:right;" type="submit" class="btn btn-primary" value="제출">
            <a href="/review/list/{{petfood_info.petfood_id}}"><button style="float:left;" type="button" class="btn btn-light">취소</button></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $("#btn-form-submit").on("click", e => {
        e.preventDefault();
        if($("#petfood_rcmd_value option:selected").text() == "평점주기") {
            alert("평점을 선택하지 않으셨습니다.");
        } else if ($("#petfood_review_title").val() == "") {
            alert("제목을 입력하지 않으셨습니다.");
        } else if ($("#summernote").val() == "") {
            alert("내용을 입력하지 않으셨습니다.");
        } else {
            $("#review_form").submit();
        }
    });
    $("#summernote").summernote({
        height: 300,
        toolbar: [
          // [groupName, [list of button]]
          ["style", ["bold", "italic", "underline", "clear"]],
          ["font", ["strikethrough", "superscript", "subscript"]],
          ["fontsize", ["fontsize"]],
          ["color", ["color"]],
          ["para", ["ul", "ol", "paragraph"]],
          ["height", ["height"]]
        ]
    });
});
</script>
