<div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <a href="/petfood/info/{{petfood_info.petfood_id}}">
          <button type="button" class="btn btn-lg btn-secondary">&lt; 사료 정보</button>
        </a>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
      {{> review_petfood_item }}
      <table class="table">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col" style="width:10%">번호</th>
            <th scope="col" style="width:10%">평점</th>
            <th scope="col" style="width:50%">제목</th>
            <th scope="col" style="width:15%">작성자</th>
            <th scope="col" style="width:15%">날짜</th>
          </tr>
        </thead>
        <tbody>
          {{#each review_list}}
          <tr>
            <th class="text-center" scope="row">{{petfood_review_id}}</th>
            <th class="text-center">{{petfood_rcmd_value}}</th>
            <td><a href="/review/content/{{petfood_review_id}}">{{petfood_review_title}}</a></td>
            <td class="text-center">{{username}}</td>
            <td class="text-center">{{creation_datetime}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a href="/review/write/{{petfood_info.petfood_id}}">
          <button style="float:right;" type="button" class="btn btn-secondary">새 리뷰 작성</button>
      </a>
    </div>
  </div>
</div>
