<div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <a href="/review/list/{{petfood_info.petfood_id}}">
          <button type="button" class="btn btn-lg btn-secondary">&lt; 리뷰 목록</button>
        </a>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
      {{> review_petfood_item }}

      <div class="card">
        <!--<div class="card-body">
          <h5 style="float:left;margin-bottom:0px;" class="card-title mr-3"><b>제목</b></h5>
          <p class="card-text">{{review_item.petfood_review_title}}</p>
        </div>-->
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="background-color:rgb(236,240,245);">
            <span>글쓴이 : {{review_item.username}}</span>
            <span style="float:right;">{{review_item.creation_date}}</span>
          </li>
          <li class="list-group-item pt-3 pm-3">
            <h5>제목 : {{review_item.petfood_review_title}}</h5>
          </li>
        </ul>
        <div class="card-body">
          {{review_item.petfood_review_content}}
        </div>
      </div>
    </div>
  </div>
</div>
