<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <a id="go_info" href="/petfood/info/{{petfood_info.petfood_id}}">
          <button type="button" class="btn btn-lg btn-secondary">&lt; 사료 정보</button>
        </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{> review_petfood_item }}
            <div class="card mb-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color:rgb(236,240,245);">
                    <div class="row text-center">
                        <div class="col-1">번호</div>
                        <div class="col-1">평점</div>
                        <div class="col-6">제목</div>
                        <div class="col-2">작성자</div>
                        <div class="col-2">날짜</div>
                    </div>
                </li>
                {{#each review_list}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-1 text-center" scope="row">{{petfood_review_id}}</div>
                            <div class="col-1 text-center">{{petfood_rcmd_value}}</div>
                            <div class="col-6">
                                <a class="go_review_content" href="/review/content/{{petfood_review_id}}?page={{../current_page}}">
                                    {{petfood_review_title}}&nbsp;
                                    <small>({{number_of_comments}} <span style="color:blue;">+{{number_of_rcmd}}</span> <span style="color:red;">-{{number_of_non_rcmd}}</span>)</small>
                                </a>
                            </div>
                            <div class="col-2 text-center">{{username}}</div>
                            <div class="col-2 text-center">{{creation_datetime}}</div>
                        </div>
                    </li>
                {{/each}}
            </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="/review/write/{{petfood_info.petfood_id}}">
              <button style="float:right;" type="button" class="btn btn-lg btn-secondary">새 리뷰 작성</button>
          </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <nav style="display: inline-block;">
                    <ul class="pagination">
                      <li class="page-item {{#if first_page}} disabled{{/if}}">
                        <a class="page-link" href="/review/list/{{petfood_info.petfood_id}}?page={{prev_page}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      {{#each paging}}
                      <li class="page-item {{#if paging_currentpage}} disabled {{/if}}"><a class="page-link" href="/review/list/{{../petfood_info.petfood_id}}?page={{paging_page}}">{{paging_page}}</a></li>
                      {{/each}}
                      <li class="page-item {{#if last_page}}disabled{{/if}}">
                        <a class="page-link" href="/review/list/{{petfood_info.petfood_id}}?page={{next_page}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <form id="review_search_form" method="get" action="/review/list/{{petfood_info.petfood_id}}" class="form-inline">
                    <input id="review_search_input" type="text" value="{{r_query}}" name="r_query" id="login-submit" style="width:80%" class="form-control" placeholder="제목 또는 내용">
                    <input id="review_search_submit" type="submit" class="ml-2 btn btn-primary" id="login-submit" value="검색">
                </form>
            </div>
        </div>
    </div>

</div>
<script>
$.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null){
       return "";
    }
    else{
       return results[1];
    }
}

$(document).ready(function() {
    var url_query = "current_page=" + $.urlParam("current_page") + "&query="
    + $.urlParam("query") + "&petfood_company_id=" + $.urlParam("petfood_company_id")
    + "&main_ingredient_id=" + $.urlParam("main_ingredient_id") + "&target_age_id="
    + $.urlParam("target_age_id") + "&protein_content_id=" + $.urlParam("protein_content_id");

    //$("#review_search_form").attr("action",$("#review_search_form").attr("action") + url_query);

    if($.urlParam("petfood_company_id") != "") {
        $("#review_search_submit").on('click',function(e){
            e.preventDefault();
            location.href = "/review/list/{{petfood_info.petfood_id}}?" + url_query
                                + "&r_query=" + $("#review_search_input").val();
        });

        $("#go_info").attr("href",$("#go_info").attr("href") + "?" + url_query);

        $(".go_review_content").attr("href", $(".go_review_content").attr("href") + "&" + url_query);
    }

    if($.urlParam("r_query") != "") {
        $(".go_review_content").attr("href", $(".go_review_content").attr("href") + "&r_query="
                                        + $.urlParam("r_query"));
    }
});
</script>
