<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4">
          <img src="/petfood_images/{{petfood_info.petfood_photo_addr}}" style="width:100%"/>
        </div>
        <div class="col-md-8 text-center">
          <h4 class="mb-4">{{petfood_info.petfood_name}}</h4>
          <h6>영양점수 : {{petfood_info.nutrition_score}} / 소비자 평점 : {{#if petfood_info.customer_score}}{{petfood_info.customer_score}}{{else}}평가 없음{{/if}}</h6>
          <h6>제조사 : {{petfood_info.petfood_company_name}}</h6>
          <h6>대상 연령 : {{petfood_info.target_age}}</h6>
          <h6 class="mb-3">주원료 : {{petfood_info.main_ingredient}}</h6>

          <a href="/petfood/info/{{petfood_info.petfood_id}}">
            <button type="button" class="btn btn-dark">정보 보러가기</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
