  <div class="container">
    <div class="jumbotron jumbotron bg-cover">
      <div class="overlay"></div>
    </div>
  </div>
  <form action="/calc/calc3" method="post" id="calc2_form">
    <input type="hidden" name="pet_age" value="{{pet_info.pet_age}}"/>
    <input type="hidden" name="pet_weight" value="{{pet_info.pet_weight}}"/>
    <input type="hidden" name="pet_activity" value="{{pet_info.pet_activity}}"/>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <h4>04. 현재 급여하시는 사료의 종류를 선택 해 주세요.</h4>
          <hr class="hr-bold mb-3">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-xs-12">
              <div class="input-group">
                <select id="petfood_company" class="colored_select form-control" name="petfood_company_id" form="calc2_form">
                  <option value="0">사료 제조사</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-1"></div>
            <div class="col-md-10 col-xs-12">
              <div class="input-group mb-3">
                <select id="petfood" class="colored_select form-control" name="petfood_id" form="calc2_form">
                  <option value="0">사료명</option>
                </select>
              </div>
            </div>
          </div>

          <h4>05. 현재 반려견의 특이사항이 있다면 선택해주세요.</h4>
          <hr class="hr-bold mb-4">

          <div class="row">
            <div class="col-md-4 col-sm-12 mb-4">
                <div class="pretty p-default">
                  <input type="checkbox" name="pet_pregnant">
                  <div class="state p-primary lead">
                      <label>임신</label>
                  </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-4">
              <div class="pretty p-default">
                <input type="checkbox" name="pet_nursing"/>
                <div class="state p-primary lead">
                    <label>수유</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-4">
              <div class="pretty p-default">
                <input type="checkbox" name="pet_diet"/>
                <div class="state p-primary lead">
                    <label>다이어트</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-4 col-sm-12 mb-4">
                <div class="pretty p-default">
                  <input type="checkbox" name="pet_neutralization"/>
                  <div class="state p-primary lead">
                      <label>중성화</label>
                  </div>
                </div>
            </div>
          </div>

          <input type="submit" value="제출" class="btn btn-dark btn-lg right-box col-md-5 mg-1"/>
          <!--<button onclick="location.href='calc/calc1'" class="btn btn-lg left-box col-md-5 mg-1">BACK</button>-->
        </div>
      </div>
    </div>
  </form>

  <script>
  $(document).ready(function(){
    let petfood_company_html;
    let petfood_html;
    let petfood_company_list = {{{petfood_company}}};
    let petfood = {{{petfood}}};

    petfood_company_html = "";
    petfood_company_html += "<option value='0'>사료회사명</option>";

    let x;
    for (x in petfood_company_list){
      let company_element = petfood_company_list[x];
      petfood_company_html += "<option value='"+ company_element.petfood_company_id +"'>"+ company_element.petfood_company_name +"</option>";
    }

    petfood_company_html += "<option value='0'></option>";
    petfood_company_html += "<option value='0'>기타</option>";

    $("#petfood_company").html(petfood_company_html);

    $( "#petfood_company" ).change(function() {
      let selected_position = $("#petfood_company option:selected").index();

      petfood_html = "";
      petfood_html += "<option value='0'>사료명</option>";

      let petfood_result = petfood.filter(petfood => selected_position == petfood.petfood_company_id);

      for (let x in petfood_result){
        let petfood_element = petfood_result[x];
        petfood_html += "<option petfood_id='"+petfood_element.petfood_id+"' value='"+ petfood_element.petfood_id +"'>"+ petfood_element.petfood_name +"</option>";
      }

      $("#petfood").html(petfood_html);

    });
  });
  </script>
